/* Stuff that Works */
body {
    margin: 0;
    padding: 0;
    background-color: #303030;
}
a {
    text-decoration: none;
}
.header {
    position: fixed;
    top: 0;
    background-color: #f39f00;
    width: 100%;
    padding: 10px;
    z-index: 3;
}
.footer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #303030;
    position: relative;
    bottom: 0;
}
ul{
    margin-bottom: 0px; 
}
.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
    color: #a6a6a6;
}
.icon {
    width: 3%;
}
  
.navlinks {
    display: flex;
    justify-content: space-evenly;
}
  
.navlink {
    margin-left: 15px;
    color: white;
}
.navlink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.body2 {
    z-index:1;
    background-color: white;
}
.banner {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;   
    background-color: #f39f00;
    padding: 36px; 
    border-bottom-right-radius: 25px;
    margin-bottom:25px;
    margin-top: 25px;
}
.banner a {
    opacity: 100%;
    color:black;
}
.banner a:hover {
    text-decoration: underline;
}
.Buisness {
    color: #a6a6a6;
    margin-top: auto;
    margin-bottom: auto;

}
.Issuescontainer {
    display: flex;
    width: 100%;
    height: 45%;
    padding-bottom: 100px;
    /* margin: 20px; */
    justify-content: space-around;
}
.Reedemersred {
    background-color: #bc0300;
}

.Comic {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
}
.Comic img {
    box-shadow:5px 3px 10px gray;
}

.issuecover {
    width:100%;
    z-index: 1;
}

.caption {
    margin: auto;
}

.text2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}
.Placeholder {
    opacity: 1;
    overflow: hidden;
    max-width: 10%; 
}
.column {
    flex-shrink: 0;
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtext {
    position: absolute;
    align-self: center;
    z-index: 0;
    text-align: center;
}

.positionfix {
    margin-bottom: 20px;
    margin-right:20px;
}
.paneltext {
    padding: 10px;
    font-size: 25px;
}
.body2 {
    padding-top: 40px;
}
.frontpage {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    max-height: 500px;
}
.snapshot {
    overflow: hidden;
    flex-shrink: 0;
    min-width: 20%;
    max-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snapshot img {
    min-width: 100%;
    min-height: 100%;
}
.Buisness p {
    margin: 0px;
}


#homepage .issuecover:hover{
    opacity: 10%;
}
.artcaption {
    position: absolute;
    align-self: center;
    color: white;
    font-size: 50px;
    z-index: 1;
    text-shadow:black 1px 0 10px;;
    text-align: center;
}

.artfeature {
    filter: brightness(40%);
    z-index: 0;
    flex-shrink: 0;
    width:100%;
    min-height: 100%;
}
.featuredart {
    flex-shrink: 0;
    height: 300px;
    overflow: hidden;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: start;
}

#homepage .artfeature:hover {
    filter: brightness(100%);
    z-index: 2;
}

#Redeemers .Issuescontainer {
    margin-top: 50px;
}

#Redeemers .featuredart {
    height: 500px;
    align-items: center;
    box-shadow: 2px 3px 3px gray;
}

.blogpost {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: black 1px solid;
    border-radius: 5px;
    margin: 10px;
}


.blogpost a {
    text-align: center;
    font-size: 32px;
    /* text-decoration: none; */
    margin: 0px;
}
.blogpost:hover {
    background-color: rgb(2,2,2,.2);

}

.blogpost p {
    text-align: center;
    padding: 5px;
}

.blogpost img {
    margin: 5px;
}

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 0;
}

#blogpost {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: none;
    margin: 3%;
    overflow: scroll;
    position: fixed;
    width: 94%;
    height:500px;
    z-index: 2;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
}

#blogpost .subtitle {
    font-size: 10px;
}

#blogpost img {
    max-height: 40%;
}

#close {
    margin-left:5px;
    padding: 0;
    position: absolute;
    color: #aaa;
    left: 0;
    top: 0;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }