body {
    background-color: aquamarine;
  }
  
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
.cat-image {
    width: 200px;
    margin: 10px;
  }
  