<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset ="UTF-8">
		<title>
			My First Website!
		</title>
	</head>
	<body>
		<h1>This is a website</h1>
		<h2>This website contains text</h2>
		The text contains characters

		<p>The characters are stored in the body tag of the code </p>
		<p style = "color: #5f479e"> 
			these characters are the hex colour 
			<i><b>#5f476e</b></i>
		</p>
		
		the hex colour was chosen from 
		<i><p>
		<a href = "https://g.co/kgs/TxEYWJ"> Google colour picker </a>
		</p></i>
	</body>
</html>
