<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset ="UTF-8">
		<title>
			My First Website!
		</title>
	</head>
	<body>
		<h1>This is a website</h1>
		<h2>This website contains text</h2>
		The text contains characters

		<p>
		The characters are stored in the body tag of the code 
		</p>
		<p style = "color: #5f479e"> 
		these characters are the hex colour <i><b>#5f476e</b></i>
		</p>
		the hex colour was chosen from 
		<i><p>
		<a href = "https://g.co/kgs/TxEYWJ"> Google colour picker </a>
		</p></i>
		Other hexcodes include
		<ul>
			<li>#47201d
				<ul>
					<li> a red like colour</li>
				</ul>
			</li>
			<li>#101966
				<ul>
					<li>A blue</li>
				</ul>
			</li>
		</ul>
		<p>Heres a list of websites ranked</p>
		<ol>	
			<li>Gmail.com</li>
			<li>Everyother Website</li>
			<li>..</li>
			<li>file:///Users/chasewayland/Programming2-sp2023/StarterApp/firstApp/templates/index.html</li>
		</ol>
		<p>for information, click here: </p>
		<a href="https://www.geeksforgeeks.org/what-is-a-website/"> What is a website? </a>
	</body>
</html>
